.list-page {
  &__main-buttons {
    width: @pageWidth;
    .centred;
  }

  &__container {
    height: calc(100vh - 16rem);
    // padding-right: 1rem;
    overflow-y: auto;
    .scroll;

    &-items {
      width: @pageWidth;
      .centred;
    }
  }

  &__list {
    .margin-bottom;
    .rounded;
    .shadow;
  }

  &__item {
    position: relative;
    border-right: 1px solid @black;
    border-left: 1px solid @black;
    line-height: 2rem;
    overflow: hidden;

    &:first-child {
      border-top: 1px solid @black;
      border-top-left-radius: @rounding;
      border-top-right-radius: @rounding;
    }

    &:last-child {
      border-bottom: 1px solid @black;
      border-bottom-left-radius: @rounding;
      border-bottom-right-radius: @rounding;
    }

    &-title {
      .flex-grow;
      .padding;
      .pointer;
      .hover;

      &:hover {
        color: @black;
      }

      &-p {
        margin: 0;
      }
    }

    &-container {
      .flex;
      .space-between;
    }
  }

  &__item-options {
    .list;
    .flex;
  }
}
