.pages {
  padding-top: @size + 2rem;
}

.page-title {
  margin: 0.5rem 0;
}

.alt-buttons {
  width: @pageWidth;
  .centred;
}

.other-content {
  height: calc(100vh - 11rem);
  overflow-y: auto;
  .scroll;

  &__container {
    width: @pageWidth;
    .centred;
    .padding-top;
  }

  &__title {
    font-weight: bold;
  }
}
